#mainTable {
  thead {
    tr {
      th {
        img {
          margin-bottom: 15px;
        }
      }
    }
  }
  tbody {
    tr {
      td:first-child {
        font-weight: bold;
      }
    }
  }
}